{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Angelo's To-Do App</h1>
  <p class="lead">Just another to-do app written in flask/python</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Item List</h2>
    <ul class="list-group list-group-flush mb-4">
      {% for item in items %}
      <li class="list-group-item">{{ item.title }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}